.post
  display: flex
  padding: 5px 0

.first
  color: white
  display: flex

  .upvotes
    width: 60px
    margin-right: 20px

  .thumbnail
    height: 70px
    width: 70px
    object-fit: cover

.second
  padding: 0 0 0 5px

  .title

  .under
    color: white
    display: flex
    font-size: 12px

    .author
      padding-right: 5px
